@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.logo {
  max-width: 200px;
}
.logo img{
    width: 49px;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 20px 15px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: #0F101B;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.33);
}
.bg-dark{
  background-color: #0F101B !important;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem !important;
}
.navbar-light .navbar-toggler {
    color: rgb(245 242 242 / 55%) !important;
    border-color: rgb(255 252 252 / 100%) !important;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu.png") !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #D1D2DE !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #D1D2DE !important;
}
.dropdown-item{
  text-transform: uppercase;
  font-weight: 400;
   color: #D1D2DE !important;
       padding: 0.4rem 1rem !important;
}
.dropdown-item:focus, .dropdown-item:hover{
  color: #0F101B !important;
  background-color: #D1D2DE !important;
}
.dropdown-menu{
  background-color: #0F101B !important;
  color: #D1D2DE !important;
  border: 1px solid #3C3E57 !important;
box-sizing: border-box;
box-shadow: 0px 4px 90px 20px rgba(0, 0, 0, 0.66) !important;
border-radius: 5px !important;
width: 200px;
}
.fasearch{
position: relative;
}
.fasearch .form-control{
background: #1C1D27 !important;
border-radius: 5px !important;
border: 1px solid #1C1D27;
color: #797A85 !important;
font-family: 'Poppins', sans-serif !important;
    padding: 0.375rem 0.75rem 0.375rem 2.4rem;
}
.fasearch .btn{
 position: absolute;
}
.form-control:focus{
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 0%) !important;
}
.fasearch .fa{
  color: #797A85 !important;
}
.navbar-brand{
  margin-right: 10rem !important;
}
.push-left {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.userimg{
margin-left: 1.5rem;
}
.userimg img{
  width: 20px;
  border-radius: 300px;
}

/* Menu */
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger-line {
  background: #fff;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: #fff;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
    height: 100vh;
    z-index: 99;
  }
  .userimg {
        position: absolute;
    right: 45px;
    top: 80px;
}
}
.nav-menu .menu-item a {
  color: #D1D2DE;
  display: block;
  line-height: 30px;
  margin: 0px 10px;
  text-decoration: none;
  text-transform:normal;
    font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
}
.nav-menu .menu-item a:hover {
  color: #D1D2DE;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .nav-menu .menu-item a {
    font-size: 20px;
    margin: 8px;
  }
}

.sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
}
@media screen and (max-width: 768px) {
    .nav-menu{
          background: #ff0060;
    }
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}

.nav__link:hover + .sub-nav {
  display: block;
}

.sub-nav:hover {
  display: block;
}

.header.sticky {
  background: #ff0060;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.header.sticky .header__link {
  color: #000;
}

.header.sticky .header__logo {
  color: #000;
}